body {
  color: white;
  background-image: radial-gradient(circle, #391d5c 0%, #000000 100%);
}

#root {
  height: 100vh;
}

header {
  border: 1px solid white;
}

main {
  margin: auto;
  width: 60%;
}

footer {
  border: 1px solid white;
}
