:root {
  font-size: 100%; /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */
}
html {
  box-sizing: border-box;
}

:before,
*:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Bold";
  src: local("OpenSans-SemiBold"),
    url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Text";
  src: local("OpenSans-SemiBold"),
    url("../fonts/OpenSans-Light.ttf") format("truetype");
}

body {
  color: white;
  background-image: radial-gradient(circle, #391d5c 0%, #000000 100%);
}

#root {
  height: 100vh;
  margin: auto;
}

header {
  padding-top: 1rem;
  height: 7vh;
  display: inline-flex;
  width: 100%;
  position: relative;
  align-items: center;
}

.front > p {
  font-family: "Text";
}

header > a > h1 {
  font-family: "Bold";
  font-size: 25px;
  padding-left: 5px;
  color: white;
}

header > a {
  align-items: center;
  display: inline-flex;
  margin-left: 1rem;
  height: 2.9rem;
  text-decoration: none;
}

.hamburger {
  position: absolute;
  right: 15px;
  padding: 5px;
  height: 35px;
  border-radius: 50px;
}

.hamburger:hover {
  cursor: pointer;
  background-color: grey;
}

main {
  margin: auto;
  width: 90%;
}

.front {
  height: 83vh;
  text-align: center;
}

.startButton {
  background-color: rgb(19, 19, 19);
  color: white;
  border-radius: 30px;
  border: 1px solid rgb(46, 46, 46);
  width: 7rem;
  padding-left: 1rem;
  height: 3rem;
  margin-top: 15rem;
  display: inline-flex;
  align-items: center;
}

.startButton:hover {
  cursor: pointer;
}

.startButton > img {
  height: 20px;
}

.startButton:active {
  background-color: grey;
}

.mainTitle {
  font-size: 40px;
  text-align: center;
  line-height: 3rem;
  font-family: "Bold";
  padding-top: 8rem;
}

.articles {
  height: 100vh;
  text-align: center;
}

article {
  line-height: 2rem;
}

article:nth-child(2) {
  margin-top: 1rem;
  grid-row: 2/3;
  grid-column: 2/3;
  background: rebeccapurple;
}

h2 {
  font-size: 25px;
  font-family: "Bold";
  padding-bottom: 1rem;
}

footer {
  border: 1px solid white;
  height: 8rem;
  background-color: black;
}
